/* reset */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}
.logo {
  margin-left: 40px;
}
.movie-img {
  width: 100%;
  margin-top: 20px;
}

body {
  background-color: #f7f3eb;
}

button {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f7f3eb;
  background-color: #000000;
  margin-bottom: 20px;
  align-items: center;
}

/* -------Menu---------- */
.logo img {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.menu {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f7f3eb;
  background-color: #000000;
  margin: 20px;
}

.menu a:hover {
  color: #ca6702;
}

.site-header {
  display: flex; /* Det er den der lave det horizontal layout for nav + burger */
  align-items: end;
}

nav {
  margin-left: auto;
}

.burger {
  width: 45px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/* ----menu slut------- */
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #f7f3eb;
}

h2 {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #ca6702;
}

.blue {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #005f73;
}

.red {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
}

.beige {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #f7f3eb;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
}
.intro_text {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

a {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  font-weight: bold;
}

/* -------Hero section---------- */

.hero_grid {
  position: relative; /* gør det muligt at placere tekst ovenpå billedet */
  display: inline-block;
}

.cinema {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 10px 0 10px;
}

.hero_header {
  position: absolute; /* taler samme med hero_grid. Slet ikke */
  top: 20px;
  left: 40px;
  color: #f7f3eb;
  text-align: left;
  margin-left: 40px;
}

.hero_grid {
  display: grid;
  grid-template-columns: fr 10f 1fr;
  gap: 10px;
}

/* -------Vote section start---------- */
.vote_grid_text {
  margin-left: 40px;
  transform: rotate(-6.5deg);
  /* width: 1278; */
  margin-bottom: 70px;
}

.blade-runner-text {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
}

/* -------reviews ---------- */

.reviews {
  margin-top: 50px;
  display: grid;
  background-color: #ca6702;
  padding-bottom: 50px;
  z-index: 1000;
  margin-right: ;
}

.woman2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin-left: 40px;
}

.never {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  position: sticky;
}
.review-button {
  margin: 40px;
}

.review-button:hover {
  color: #ca6702;
}

.never {
  max-width: 150px;
  height: 200px;
  display: block;
  margin-left: 0px;
}

.reviews div {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.woman2 {
  max-width: 250px;
  height: 300px;
  display: block;
  margin-left: 40px;
  filter: grayscale(100%);
}
.review-text-citat {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: hwb(0 0% 100%);
  margin-top: 0px;
}

.review-text-citat2 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: hwb(0 0% 100%);
  margin-bottom: 0px;
}

/* --spot light-- */

.spotlight-button:hover {
  color: #ca6702;
}
.spotlight-button {
  margin-left: 40px;
  margin-top: 40px;
}

.h2spotlight {
  margin: 40px;
  transform: rotate(3deg);
}

.terrifin-clown {
  margin: 40px;
}

/* Footerline */

.line {
  width: 1500px;
  height: 3px;
  background: #000000;
  /* margin-left: 50px;
  margin-right: 50px; */
}
/* Footer */
footer {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 20px;
  color: #ca6702;
  text-align: center;
}
