/* reset */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo {
  margin-left: 40px;
}
.movie-img {
  width: 100%;
  margin-top: 20px;
}

body {
  background-color: #f7f3eb;
}

button {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f7f3eb;
  background-color: #000000;
  margin-bottom: 20px;
  align-items: center;
}

.start_quiz {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f7f3eb;
  background-color: #000000;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

/* -------Menu---------- */
.logo img {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.menu {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f7f3eb;
  background-color: #000000;
  margin: 20px;
}

.menu a:hover {
  color: #ca6702;
}

.site-header {
  display: flex; /* Det er den der lave det horizontal layout for nav + burger */
  align-items: end;
}

nav {
  margin-left: auto;
}

.burger {
  width: 45px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/* ----menu slut------- */
h4 {
  font-family: Helvetica, sans-serif;
  font-weight: 20;
  font-style: thin;
  font-size: 15px;
  color: #000000;
  margin: 0px 0px 0px 90px;
}

Forside/spot light h1 {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #f7f3eb;
}

h2 {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #ca6702;
  margin: 0pax;
}

.h2-Guides-of-the-Guild {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
  margin-left: 70px;
  display: grid;
  margin-top: 40px;
  align-items: left;
}

.blue {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #005f73;
  transform: rotate(-6.5deg);
}

.red {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
  margin-left: -40px;
  margin-bottom: 40px;
  transform: rotate(-6.5deg);
}

.beige {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #f7f3eb;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
}
.intro_text {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 90px;
  max-width: 800px;
  margin-bottom: 15px;
}

a {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  font-weight: bold;
}

/* -------Hero section---------- */

.hero_grid {
  position: relative; /* gør det muligt at placere tekst ovenpå billedet */
  display: inline-block;
}

.cinema {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 10px 0 10px;
  padding-right: 10px;
}

.hero_header {
  position: absolute; /* taler samme med hero_grid. Slet ikke */
  top: 20px;
  left: 40px;
  color: #f7f3eb;
  text-align: left;
  margin-left: 40px;
}

.hero_grid {
  display: grid;
  grid-template-columns: fr 10f 1fr;
  gap: 10px;
}

/* -------Vote section start---------- */

.vote_grid_text {
  margin-left: 40px;
  /* transform: rotate(-6.5deg); */
  /* width: 1278; */
  margin-bottom: 70px;
}

.blade-runner-text {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: hwb(0 0% 100%);
  margin-top: 20px;
  margin-left: 0px;
}

/* -------reviews ---------- */

.reviews {
  margin-top: 0px;
  display: grid;
  z-index: 1000;
}

.woman2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin-left: 40px;
}

.never {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  position: sticky;
}
.review-button {
  margin: 40px;
  align-content: center;
}

.review-button:hover {
  color: #ca6702;
}

.never {
  max-width: 150px;
  height: 200px;
  display: block;
  margin-left: 0px;
}

.reviews div {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.woman2 {
  max-width: 250px;
  height: 300px;
  display: block;
  margin-left: 40px;
  filter: grayscale(100%);
}
.review-text-citat {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: hwb(0 0% 100%);
  margin-left: 80px;
}
.review-text2 {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: Oblique;
  color: hwb(0 0% 100%);
  margin-left: 80px;
}

/* --spot light-- */

.spotlight-button:hover {
  color: #ca6702;
}
.spotlight-button {
  margin-left: 40px;
  margin-top: 40px;
}

.h2spotlight {
  margin-left: 900px;
  transform: rotate(3deg);
  transform: rotate(6.5deg);
  margin-bottom: 0pax;
  color: #005f73;
}

.terrifin-clown {
  margin-left: 40px;
  margin-bottom: 40px;
}

/* --Quiz-- */
.quiz {
  align-items: left;
}

.quiz {
  text-align: right; /* Højrejustér alt tekst og inline-elementer */
  margin-right: 40px;
}

.quiz button {
  display: block; /* Sørg for at billeder og knapper står på egen linje */
  margin-left: auto;
  margin-right: 0;
  margin-top: 20px;
}

.buttonquiz:hover {
  color: #ca6702;
}

.start_quiz:hover {
  color: #ca6702;
}

.whats-in-the-box {
  margin-top: 20px;
  margin-right: 700px;
  margin-bottom: 40pxpx;
  transform: rotate(-6.5deg);
}

/* PAGE: spotlight*/

.intro_text_spotlight {
  margin-left: 250px;
  max-width: 990px;
  margin-bottom: 20px;
}

.hero_header_black {
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400px;

  margin: 0px 0px 0px 90px;
}

.hoved_class {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.hoved_class img {
  max-width: 470px;
  max-height: 300px;
}

.hoved_class p {
  max-width: 471px;
}
.don’t {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 60px;
  color: #9b2227;
  margin-left: 600px;
  display: grid;
  margin-top: 40px;
  margin-bottom: 80px;
}

/* PAGE: quiz  */

.Whats-in-the-box-page-h2 {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
  margin-left: -40px;
  margin-bottom: 40px;
  transform: rotate(-6.5deg);
}

.cooking-something-new-image {
  filter: grayscale(100%);
}

.farvelinje_quiz {
  margin-left: 90px;
}

/* ul {
  font-family: Helvetica, sans-serif;
  font-weight: 20;
  font-style: normal;
  font-size: 12px;
  color: #000000;
  margin: 0px 0px 0px 90px;
}

li {
  font-family: Helvetica, sans-serif;
  font-weight: 20;
  font-style: normal;
  font-size: 12px;
  color: #000000;
  margin: 0px 0px 0px 90px;
} */

/* PAGE: About us */

.Every-story-has-a-beginning-h2 {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
  margin-left: -40px;
  margin-bottom: 40px;
  transform: rotate(-6.5deg);
}

/* Shop */

.h2-An-offer-you-cant-refuse {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: #9b2227;
  margin-left: -40px;
  margin-bottom: 40px;
  transform: rotate(-6.5deg);
}

.webshop-image {
  margin-left: 70px;
  width: 1000px;
  height: auto;
  object-fit: cover; /* keeps image nicely cropped instead of squished */
}

/* PAGE: Comming soon */

.Coming-soon {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 90px;
  color: #000000;
  margin-left: 500px;
  margin-bottom: 40px;
  transform: rotate();
}

/* Footerline */

.line {
  width: 1500px;
  height: 3px;
  background: #000000;
  align-self: center;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.line-top {
  margin-top: 40px;
  width: 1500px;
  height: 3px;
  background: #000000;
  align-self: center;
}
/* Footer */

.footer a {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: bold;
  font-size: 20px;
  color: #9b2227;
}

.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
